

<div class="callBack">
    <div class="input-group mb-3 m-3 div-input">
        <span class="input-group-text">Name</span>
        <input type="text" class="form-control" id="callbackName" />
    </div>

    <div class="input-group mb-3 m-3 div-input">
        <span class="input-group-text">Phone</span>
        <input type="text" class="form-control" id="callbackPhone" />
    </div>

    <input type="button" class="btn btn-primary m-3" id="callbackSend" value="Send" />
</div>

<style>
    .div-input{
        width:300px;
    }
</style>

<script>
    document.getElementById("callbackSend").onclick = function () {
        let callBack = {
            Name: document.getElementById("callbackName").value,
            Phone: document.getElementById("callbackPhone").value
        }

        fetch("/api/StoreCallBack", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(callBack)
        })
            .then(res => { console.log(res); return res.json() })
            .then(cb => console.log(cb))
            .catch(err => console.log(err));

        console.log(callBack);
    }
</script>
