<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta name="msapplication-tap-highlight" content="no">

    <title>Portfolio</title>

    <link href="/portfolio/main.d8e0d294.css" rel="stylesheet">
</head>

<body class="">

    @RenderBody()

    <footer class="footer-container white-text-container text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <p>©All right reserved. 2021</p>
                    <p>
                        <a class="fa-icon fa-icon-2x" href="https://instagram.com/mike_isyp/" title="">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a class="fa-icon fa-icon-2x" href="https://facebook.com/profile.php?id=100010348093298" title="">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="fa-icon fa-icon-2x" href="https://twitter.com/mike_isyp" title="">
                            <i class="fa fa-twitter"></i>
                        </a>

                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            scrollRevelation('.card');
        });
    </script>
    <script type="/portfolio/text/javascript" src="/portfolio/main.bc58148c.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
