@{
    ViewData["Title"] = "File Commander";
}

<div>
    <ul class="list-group">
        @foreach (var d in ViewBag.Directories)
        {
            <li class="list-group-item list-group-item-action"><span data-dirname="@d" onclick="onDirClick()">@d</span></li>
        }
    </ul>

    <ul class="list-group">
        @foreach (var f in ViewBag.Files)
        {
            <li class="list-group-item list-group-item-action">@f</li>
        }
    </ul>

</div>


@section Scripts {
    <script>
        function onDirClick() {
            el = event.target;
            event.stopPropagation();

            // let dir = el.textContent.toString();
            let dir = event.target.dataset.dirname;
            console.log("try get: ");
            dir = dir.trim();
            dir = dir.replaceAll('/', '~');
            dir = dir.replaceAll('\\', '~');
            console.log(dir);
            let oldEl = el.querySelector("ul");
            if (oldEl !== null) {
                oldEl.remove();
            } else {
                console.log("NoParent");
            }
            fetch("/api/GetAdminFiles/" + dir)
                .then(res => {
                    console.log(res.statusText);
                    return res.json();
                })
                .then(dirs => {
                    console.log(dirs);
                    let ul = document.createElement("ul");
                    ul.classList.add("list-group");
                    ul.classList.add("list-group-item-action");
                    dirs.map(dir => {
                        let li = document.createElement("li");
                        li.classList.add("list-group-item");
                        li.classList.add("list-group-item-action");
                        let span = document.createElement("span");
                        span.onclick = onDirClick;
                        span.dataset.dirname = dir;
                        span.innerText = dir;
                        li.appendChild(span);
                        ul.appendChild(li);
                    })
                    el.appendChild(ul);
                })
                .catch(err => { console.log("ERR:"); console.log(err); })
        }
    </script>
}