@{ 
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="divResult">

    </div>
</div>

<script>
    let res = document.getElementById("divResult");

    fetch('/api/ApiColors')
        .then(res => res.json())
        .then(data => {
            console.log(data);

            ul = document.createElement("ul");
            data.map(color => {
                li = document.createElement("li");
                img = document.createElement("img");
                img.src = color.imgUrl;

                li.appendChild(img);

                h3 = document.createElement("h3");
                h3.innerText = color.name;

                li.appendChild(h3);

                ul.appendChild(li);
            })
            res.appendChild(ul);
        })
        .catch(err => console.log(err));
</script>