@{
    ViewData["Title"] = "Cars Page";
}

<div class="text-center">
    <h1 class="display-4">Cars</h1>
</div>
<div id="navModels">
    Тут будут ссылки ан название моделей
</div>

<div id="mainModels">
    Тут будет активная модель
</div>

@section Scripts {
    <script>

        let apiModels = "/api/ApiModels";

        function onError(err) {
            console.log("Err");
            console.log(err);
        }

        function renderModel(obj) {
            console.log(obj.id);
            fetch(apiModels + "/" + obj.id)
                .then(res => {
                    if (res.status !== 200) {
                        onError(res);
                        return;
                    }
                    // console.log(res);
                    return res.json();
                })
                .then(model => {
                    console.log(model);
                    //TODO: Построить отображение модельки
                    let div = document.getElementById("mainModels");
                    div.innerHTML = "";
                    let img = document.createElement("img");
                    img.classList.add("admin_models_thumbs");
                    img.src = model.imgUrl;
                    div.appendChild(img);
                })
                .catch(err => { onError(err); });
        }

        function renderModelsNav(models) {
            //console.log(models);
            let div = document.getElementById("navModels");
            div.innerHTML = "";
            let ul = document.createElement("ul");

            models.map(model => {
                // console.log(model);
                let li = document.createElement("li");
                li.innerText = model.name;
                li.id = model.id;
                li.onclick = function () {
                    renderModel(this);
                }
                ul.appendChild(li);
            })
            div.appendChild(ul);
        }

        function getAllModels() {
            fetch(apiModels)
                .then(res => {
                    if (res.status !== 200) {
                        onError(res);
                        return;
                    }
                    // console.log(res);
                    return res.json();
                })
                .then(models => {
                    renderModelsNav(models);
                })
                .catch(err => { onError(err); });
        }

        getAllModels();


    </script>
}